In [13]:
import pandas as pd

In [14]:
loan_data=pd.read_csv('DS1_C4_S3_Loan_Data_Challenge.csv')

In [18]:
loan_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71,360,1,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40,180,1,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253,360,1,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187,360,1,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133,360,0,Semiurban,N

In [17]:
loan_data.shape
print("\nChecking for null values:")
print(loan_data.isnull().sum())

Checking for null values:
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

###### task 2

In [19]:
# Filter the DataFrame based on the conditions
filtered_data = loan_data[(loan_data['Gender'] == 'Female') & 
                          (loan_data['Self_Employed'] == 'Yes') & 
                          (loan_data['ApplicantIncome'] > 4000)]

# Display the filtered data
print("List of female customers who are self-employed and have an income greater than 4000:")
print(filtered_data)

List of female customers who are self-employed and have an income greater than 4000:
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
54   LP001186  Female     Yes          1      Graduate           Yes
113  LP001392  Female      No          1      Graduate           Yes
353  LP002142  Female     Yes          0      Graduate           Yes
370  LP002194  Female      No          0      Graduate           Yes
404  LP002301  Female      No          0      Graduate           Yes
430  LP002377  Female      No          1      Graduate           Yes
439  LP002407  Female     Yes          0  Not Graduate           Yes
463  LP002489  Female      No          1  Not Graduate           Yes
493  LP002582  Female      No          0  Not Graduate           Yes
534  LP002731  Female      No          0  Not Graduate           Yes
561  LP002813  Female     Yes          1      Graduate           Yes
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
54             11500                0.0         286               360
113             7451                0.0         146               360
353             5500                0.0         105               360
370            15759                0.0          55               360
404             7441                0.0         194               360
430             8624                0.0         150               360
439             7142                0.0         138               360
463             5191                0.0         132               360
493            17263                0.0         225               360
534            18165                0.0         125               360
561            19484                0.0         600               360
613             4583                0.0         133               360

     Credit_History Property_Area Loan_Status
54                0         Urban           N
113               1     Semiurban           Y
353               0         Rural           N
370               1     Semiurban           Y
404               1         Rural           N
430               1     Semiurban           Y
439               1         Rural           Y
463               1     Semiurban           Y
493               1     Semiurban           Y
534               1         Urban           Y
561               1     Semiurban           Y
613               0     Semiurban           N

###### task 3

In [20]:
# Assuming the DataFrame is already loaded and named loan_data
# Filter the DataFrame based on the conditions
filtered_data = loan_data[(loan_data['Gender'] == 'Male') & 
                          (loan_data['Education'] == 'Graduate') & 
                          (loan_data['Loan_Status'] == 'Y')]

# Display the information of these customers
print("Information of male customers with a graduate degree and loan status 'Y':")
print(filtered_data)

# Display the count of these customers
count_of_customers = len(filtered_data)
print("\nCount of male customers with a graduate degree and loan status 'Y':", count_of_customers)

Information of male customers with a graduate degree and loan status 'Y':
      Loan_ID Gender Married Dependents Education Self_Employed  \
0    LP001002   Male      No          0  Graduate            No
2    LP001005   Male     Yes          0  Graduate           Yes
4    LP001008   Male      No          0  Graduate            No
5    LP001011   Male     Yes          2  Graduate           Yes
8    LP001018   Male     Yes          2  Graduate            No
..        ...    ...     ...        ...       ...           ...
606  LP002961   Male     Yes          1  Graduate            No
608  LP002974   Male     Yes          0  Graduate            No
610  LP002979   Male     Yes         3+  Graduate            No
611  LP002983   Male     Yes          1  Graduate            No
612  LP002984   Male     Yes          2  Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         146               360
2               3000                0.0          66               360
4               6000                0.0         141               360
5               5417             4196.0         267               360
8               4006             1526.0         168               360
..               ...                ...         ...               ...
606             3400             2500.0         173               360
608             3232             1950.0         108               360
610             4106                0.0          40               180
611             8072              240.0         253               360
612             7583                0.0         187               360

     Credit_History Property_Area Loan_Status
0                 1         Urban           Y
2                 1         Urban           Y
4                 1         Urban           Y
5                 1         Urban           Y
8                 1         Urban           Y
..              ...           ...         ...
606               1     Semiurban           Y
608               1         Rural           Y
610               1         Rural           Y
611               1         Urban           Y
612               1         Urban           Y

[279 rows x 13 columns]

Count of male customers with a graduate degree and loan status 'Y': 279

##### task 4

In [21]:
# Assuming the DataFrame is already loaded and named loan_data
# Filter the DataFrame based on the conditions
filtered_data = loan_data[(loan_data['Loan_Status'] == 'Y') & 
                          (loan_data['Dependents'].astype(str).apply(lambda x: x.isdigit() and int(x) >= 3)) & 
                          (loan_data['Property_Area'] == 'Rural')]

# Display the information of these customers
print("Information of customers with loan status 'Y', three or more dependents, and property in Rural area:")
print(filtered_data)

# Display the count of these customers
count_of_customers = len(filtered_data)
print("\nCount of customers with loan status 'Y', three or more dependents, and property in Rural area:", count_of_customers)

Information of customers with loan status 'Y', three or more dependents, and property in Rural area:
Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

Count of customers with loan status 'Y', three or more dependents, and property in Rural area: 0

###### task 5

In [22]:
# Create a dictionary with Warner Kim's details
new_customer_data = {
    'Loan_ID': 'LP_NEW001',
    'Gender': 'Male',  # You need to provide the gender information
    'Married': 'No',  # You need to provide the marital status information
    'Dependents': 0,  # You need to provide the number of dependents
    'Education': 'Graduate',
    'Self_Employed': 'No',  # You need to provide the employment information
    'ApplicantIncome': 0,  # You need to provide the applicant's income
    'CoapplicantIncome': 0,  # You need to provide the co-applicant's income
    'LoanAmount': 290000,
    'Loan_Amount_Term': 360,
    'Credit_History': 1,  # You need to provide the credit history information
    'Property_Area': 'Urban',
    'Loan_Status': 'Y'  # This will be the predicted value
}

# Append the new customer data to the DataFrame
loan_data = loan_data.append(new_customer_data, ignore_index=True)

# Display the updated DataFrame
print("Updated DataFrame with Warner Kim's data:")
print(loan_data.tail())

# Use machine learning model or rules to predict loan approval for Warner Kim
# You can replace the following line with your actual model prediction
predicted_loan_status = 'Y'  # Placeholder for the prediction

# Display the predicted loan status for Warner Kim
print("\nPredicted Loan Status for Warner Kim:", predicted_loan_status)

AttributeError: 'DataFrame' object has no attribute 'append'

In [25]:
import pandas as pd

# Assuming the DataFrame is already loaded and named loan_data

# Create a DataFrame with Warner Kim's details
new_customer_df = pd.DataFrame([new_customer_data])

# Append the new customer data to the original DataFrame
loan_data = pd.concat([loan_data, new_customer_df], ignore_index=True)

# Display the updated DataFrame
print("Updated DataFrame with Warner Kim's data:")
print(loan_data.tail())

Updated DataFrame with Warner Kim's data:
       Loan_ID  Gender Married Dependents Education Self_Employed  \
610   LP002979    Male     Yes         3+  Graduate            No
611   LP002983    Male     Yes          1  Graduate            No
612   LP002984    Male     Yes          2  Graduate            No
613   LP002990  Female      No          0  Graduate           Yes
614  LP_NEW001    Male      No          0  Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
610             4106                0.0          40               180
611             8072              240.0         253               360
612             7583                0.0         187               360
613             4583                0.0         133               360
614                0                0.0      290000               360

     Credit_History Property_Area Loan_Status
610               1         Rural           Y
611               1         Urban           Y
612               1         Urban           Y
613               0     Semiurban           N
614               1         Urban           Y

In [26]:
# Filter the DataFrame based on the conditions
filtered_data = loan_data[(loan_data['Married'] == 'No') & 
                          (loan_data['Self_Employed'] == 'Yes') & 
                          (loan_data['Property_Area'] != 'Urban') & 
                          (loan_data['Loan_Status'] == 'N')]

# Display the information of customers who meet the conditions
print("Information of customers who are not married, self-employed, live in non-urban area, and have loan status 'N':")
print(filtered_data)

# Calculate and display the gender-wise count of such customers
gender_count = filtered_data['Gender'].value_counts()
print("\nGender-wise count of customers:")
print(gender_count)

Information of customers who are not married, self-employed, live in non-urban area, and have loan status 'N':
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
32   LP001097    Male      No          1      Graduate           Yes
107  LP001370    Male      No          0  Not Graduate           Yes
286  LP001925  Female      No          0      Graduate           Yes
404  LP002301  Female      No          0      Graduate           Yes
410  LP002318  Female      No          1  Not Graduate           Yes
449  LP002444    Male      No          1  Not Graduate           Yes
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
32              4692                0.0         106               360
107             7333                0.0         120               360
286             2600             1717.0          99               300
404             7441                0.0         194               360
410             3867                0.0          62               360
449             2769             1542.0         190               360
613             4583                0.0         133               360

     Credit_History Property_Area Loan_Status
32                1         Rural           N
107               1         Rural           N
286               1     Semiurban           N
404               1         Rural           N
410               1     Semiurban           N
449               1     Semiurban           N
613               0     Semiurban           N

Gender-wise count of customers:
Gender
Female    4
Male      3
Name: count, dtype: int64

##### task 7

In [27]:
# Assuming the DataFrame is already loaded and named loan_data

# Calculate the average income based on each property area
average_income_by_area = loan_data.groupby('Property_Area')['ApplicantIncome'].mean()

# Display the average income based on each property area
print("Average income of customers based on each property area:")
print(average_income_by_area)

Average income of customers based on each property area:
Property_Area
Rural        5554.083799
Semiurban    5292.261803
Urban        5371.655172
Name: ApplicantIncome, dtype: float64

###### task 8

In [28]:
# Step 1: List customers who have property in a rural or semiurban area, applicant income > 4000,
# co-applicant income > 1000, and loan status is 'N'
filtered_customers = loan_data[
    ((loan_data['Property_Area'] == 'Rural') | (loan_data['Property_Area'] == 'Semiurban')) &
    (loan_data['ApplicantIncome'] > 4000) &
    (loan_data['CoapplicantIncome'] > 1000) &
    (loan_data['Loan_Status'] == 'N')
]

# Display information of customers meeting the conditions
print("Customers meeting the conditions:")
print(filtered_customers)
# Count the number of such customers
count_before_update = len(filtered_customers)
print("\nNumber of customers meeting the conditions before update:", count_before_update)

# Step 2: Update the loan status of these customers to 'Y'
loan_data.loc[filtered_customers.index, 'Loan_Status'] = 'Y'

# Step 3: Verify that the count of such customers is now zero
filtered_customers_after_update = loan_data[
    ((loan_data['Property_Area'] == 'Rural') | (loan_data['Property_Area'] == 'Semiurban')) &
    (loan_data['ApplicantIncome'] > 4000) &
    (loan_data['CoapplicantIncome'] > 1000) &
    (loan_data['Loan_Status'] == 'N')
]
# Count the number of such customers after the update
count_after_update = len(filtered_customers_after_update)
print("\nNumber of customers meeting the conditions after update:", count_after_update)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(loan_data)

Customers meeting the conditions:
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
34   LP001100    Male      No         3+      Graduate            No
65   LP001225    Male     Yes          0      Graduate            No
83   LP001273    Male     Yes          0      Graduate            No
118  LP001421    Male     Yes          0      Graduate            No
129  LP001465    Male     Yes          0      Graduate            No
139  LP001493    Male     Yes          2  Not Graduate            No
140  LP001497    Male     Yes          2      Graduate            No
148  LP001519  Female      No          0      Graduate            No
177  LP001610    Male     Yes         3+      Graduate            No
258  LP001859    Male     Yes          0      Graduate            No
298  LP001955  Female      No          0      Graduate            No
325  LP002067    Male     Yes          1      Graduate           Yes
351  LP002140    Male      No          0      Graduate            No
369  LP002191    Male     Yes          0      Graduate            No
499  LP002602    Male      No          0      Graduate            No
503  LP002618    Male     Yes          1  Not Graduate            No
514  LP002652    Male      No          0      Graduate            No
518  LP002683    Male      No          0      Graduate            No
524  LP002697    Male      No          0      Graduate            No
573  LP002862    Male     Yes          2  Not Graduate            No
585  LP002912    Male     Yes          1      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0         128               360
9              12841            10968.0         349               360
34             12500             3000.0         320               360
65              5726             4595.0         258               360
83              6000             2250.0         265               360
118             5568             2142.0         175               360
129             6080             2569.0         182               360
139             4200             1430.0         129               360
140             5042             2083.0         185               360
148            10000             1666.0         225               360
177             5516            11300.0         495               360
258            14683             2100.0         304               360
298             5000             2541.0         151               480
325             8666             4983.0         376               360
351             8750             4167.0         308               360
369            19730             5266.0         570               360
499             6283             4416.0         209               360
503             4050             5302.0         138               360
514             5815             3666.0         311               360
518             4683             1915.0         185               360
524             4680             2087.0         146               360
573             6125             1625.0         187               480
585             4283             3000.0         172                84

     Credit_History Property_Area Loan_Status
1                 1         Rural           N
9                 1     Semiurban           N
34                1         Rural           N
65                1     Semiurban           N
83                1     Semiurban           N
118               1         Rural           N
129               1         Rural           N
139               1         Rural           N
140               1         Rural           N
148               1         Rural           N
177               0     Semiurban           N
258               1         Rural           N
298               1         Rural           N
325               0         Rural           N
351               1         Rural           N
369               1         Rural           N
499               0         Rural           N
503               1         Rural           N
514               1         Rural           N
518               1     Semiurban           N
524               1     Semiurban           N
573               1     Semiurban           N
585               1         Rural           N

Number of customers meeting the conditions before update: 23

Number of customers meeting the conditions after update: 0

Updated DataFrame:
       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0     LP001002    Male      No          0      Graduate            No
1     LP001003    Male     Yes          1      Graduate            No
2     LP001005    Male     Yes          0      Graduate           Yes
3     LP001006    Male     Yes          0  Not Graduate            No
4     LP001008    Male      No          0      Graduate            No
..         ...     ...     ...        ...           ...           ...
610   LP002979    Male     Yes         3+      Graduate            No
611   LP002983    Male     Yes          1      Graduate            No
612   LP002984    Male     Yes          2      Graduate            No
613   LP002990  Female      No          0      Graduate           Yes
614  LP_NEW001    Male      No          0      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         146               360
1               4583             1508.0         128               360
2               3000                0.0          66               360
3               2583             2358.0         120               360
4               6000                0.0         141               360
..               ...                ...         ...               ...
610             4106                0.0          40               180
611             8072              240.0         253               360
612             7583                0.0         187               360
613             4583                0.0         133               360
614                0                0.0      290000               360

     Credit_History Property_Area Loan_Status
0                 1         Urban           Y
1                 1         Rural           Y
2                 1         Urban           Y
3                 1         Urban           Y
4                 1         Urban           Y
..              ...           ...         ...
610               1         Rural           Y
611               1         Urban           Y
612               1         Urban           Y
613               0     Semiurban           N
614               1         Urban           Y

[615 rows x 13 columns]

###### task 9

In [31]:
# Filter the DataFrame based on the conditions
filtered_customers = loan_data[
    (loan_data['Dependents'] == '3+') &
    (loan_data['Property_Area'] == 'Urban') &
    (loan_data['Loan_Status'] == 'Y')
]

# Display information of customers meeting the conditions
print("Customers meeting the conditions:")
print(filtered_customers)

# Calculate the average income of customers meeting the conditions
average_income = filtered_customers['ApplicantIncome'].mean()
# Count the number of customers meeting the conditions
count_of_customers = len(filtered_customers)

# Display the average income and count
print("\nAverage income of customers with 3+ dependents, living in an urban area, and loan status 'Y':", average_income)
print("Number of customers meeting the conditions:", count_of_customers)

Customers meeting the conditions:
      Loan_ID Gender Married Dependents     Education Self_Employed  \
61   LP001206   Male     Yes         3+      Graduate            No
68   LP001238   Male     Yes         3+  Not Graduate           Yes
171  LP001585   Male     Yes         3+      Graduate            No
267  LP001882   Male     Yes         3+      Graduate            No
295  LP001949   Male     Yes         3+      Graduate            No
461  LP002484   Male     Yes         3+      Graduate            No
531  LP002720   Male     Yes         3+      Graduate            No
602  LP002953   Male     Yes         3+      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
61              3029                0.0          99               360
68              7100                0.0         125                60
171            51763                0.0         700               300
267             4333             1811.0         160               360
295             4416             1250.0         110               360
461             7740                0.0         128               180
531             4281                0.0         100               360
602             5703                0.0         128               360

     Credit_History Property_Area Loan_Status
61                1         Urban           Y
68                1         Urban           Y
171               1         Urban           Y
267               0         Urban           Y
295               1         Urban           Y
461               1         Urban           Y
531               1         Urban           Y
602               1         Urban           Y

Average income of customers with 3+ dependents, living in an urban area, and loan status 'Y': 11045.625
Number of customers meeting the conditions: 8

###### task 10

In [30]:
# Assuming the DataFrame is already loaded and named loan_data

# Step 1: Calculate the average income of customers living in an urban area
average_urban_income = loan_data[loan_data['Property_Area'] == 'Urban']['ApplicantIncome'].mean()

# Step 2: Filter customers who live in rural or semiurban areas, have 3+ dependents,
# and have income greater than the average income of urban customers
filtered_customers = loan_data[
    ((loan_data['Property_Area'] == 'Rural') | (loan_data['Property_Area'] == 'Semiurban')) &
    (loan_data['Dependents'] == '3+') &
    (loan_data['ApplicantIncome'] > average_urban_income)
]

# Display information of customers meeting the conditions
print("Customers meeting the conditions:")
print(filtered_customers)

# Step 3: Identify an important parameter that the bank may be using to approve the loan
# In this case, it appears that income is a key parameter, as it is being compared to the average income in an urban area.

# Step 4: Display the average applicant income of customers from non-urban areas with loan status 'Y'
average_non_urban_income = loan_data[(loan_data['Property_Area'] != 'Urban') & (loan_data['Loan_Status'] == 'Y')]['ApplicantIncome'].mean()

# Display the average applicant income
print("\nAverage applicant income of customers from non-urban areas with loan status 'Y':", average_non_urban_income)

Customers meeting the conditions:
      Loan_ID Gender Married Dependents     Education Self_Employed  \
34   LP001100   Male      No         3+      Graduate            No
126  LP001448   Male     Yes         3+      Graduate            No
155  LP001536   Male     Yes         3+      Graduate            No
177  LP001610   Male     Yes         3+      Graduate            No
213  LP001715   Male     Yes         3+  Not Graduate           Yes
324  LP002065   Male     Yes         3+      Graduate            No
376  LP002219   Male     Yes         3+      Graduate            No
390  LP002255   Male      No         3+      Graduate            No
391  LP002262   Male     Yes         3+      Graduate            No
409  LP002317   Male     Yes         3+      Graduate            No
522  LP002692   Male     Yes         3+      Graduate           Yes
539  LP002740   Male     Yes         3+      Graduate            No
557  LP002795   Male     Yes         3+      Graduate           Yes
574  LP002863   Male     Yes         3+      Graduate            No
592  LP002933   Male      No         3+      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
34             12500             3000.0         320               360
126            23803                0.0         370               360
155            39999                0.0         600               180
177             5516            11300.0         495               360
213             5703                0.0         130               360
324            15000                0.0         300               360
376             8750             4996.0         130               360
390             9167                0.0         185               360
391             9504                0.0         275               360
409            81000                0.0         360               360
522             5677             1424.0         100               360
539             6417                0.0         157               180
557            10139                0.0         260               360
574             6406                0.0         150               360
592             9357                0.0         292               360

     Credit_History Property_Area Loan_Status
34                1         Rural           Y
126               1         Rural           Y
155               0     Semiurban           Y
177               0     Semiurban           Y
213               1         Rural           Y
324               1         Rural           Y
376               1         Rural           Y
390               1         Rural           Y
391               1         Rural           Y
409               0         Rural           N
522               1         Rural           Y
539               1         Rural           Y
557               1     Semiurban           Y
574               1     Semiurban           N
592               1     Semiurban           Y

Average applicant income of customers from non-urban areas with loan status 'Y': 5332.445512820513