In [1]:
maths_marks=[35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks=[85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

###### task 1

In [2]:
import pandas as pd

# Create a Pandas Series for student IDs
student_ids = pd.Series(range(1001, 1001 + 40), name='StudentID')

# Display the student IDs
print(student_ids)

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
Name: StudentID, dtype: int64

###### task 2

In [3]:
# Given data
maths_marks = [35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks = [85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]

# Create Pandas Series for maths and physics marks with student IDs as index
maths_series = pd.Series(maths_marks, index=student_ids, name='Maths Marks')
physics_series = pd.Series(physics_marks, index=student_ids, name='Physics Marks')

# Display the student IDs and Pandas Series
print("Student IDs:")
print(student_ids)

print("\nMaths Marks:")
print(maths_series)

print("\nPhysics Marks:")
print(physics_series)

Student IDs:
0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
Name: StudentID, dtype: int64

Maths Marks:
StudentID
1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
Name: Maths Marks, dtype: int64

Physics Marks:
StudentID
1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
Name: Physics Marks, dtype: int64

###### task 3

In [5]:
# Create Pandas Series for maths and physics marks with student IDs as index
maths_series = pd.Series(maths_marks, index=student_ids, name='Maths Marks')
physics_series = pd.Series(physics_marks, index=student_ids, name='Physics Marks')

# Create a new Pandas Series for the sum of scores
sum_scores_series = maths_series + physics_series
sum_scores_series.name = 'Sum of Scores'

# Display the Pandas 

print("\nSum of Scores:")
print(sum_scores_series)

Sum of Scores:
StudentID
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
Name: Sum of Scores, dtype: int64

###### task 4

In [19]:
sum_scores_series = maths_series + physics_series
sum_scores_series

StudentID
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [21]:
qualified_students = sum_scores_series[sum_scores_series >= 120]

In [23]:


# Create Pandas Series for maths and physics marks with student IDs as index
maths_series = pd.Series(maths_marks, index=student_ids, name='Maths Marks')
physics_series = pd.Series(physics_marks, index=student_ids, name='Physics Marks')

# Create a new Pandas Series for the sum of scores
sum_scores_series = maths_series + physics_series
sum_scores_series.name = 'Sum of Scores'

# Cutoff score for round 1
cutoff_score = 120

# Filter student IDs based on the cutoff score
qualified_students = sum_scores_series[sum_scores_series >= 120]

# Display the qualified student IDs
print("Qualified Student IDs for Round 1:")
print(qualified_students)

Qualified Student IDs for Round 1:
StudentID
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1008    127
1010    125
1011    126
1012    177
1014    142
1015    167
1017    144
1022    140
1024    148
1025    143
1028    129
1029    128
1030    165
1031    132
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
Name: Sum of Scores, dtype: int64

###### task 5

In [24]:
# Create Pandas Series for maths and physics marks with student IDs as index
maths_series = pd.Series(maths_marks, index=student_ids, name='Maths Marks')
physics_series = pd.Series(physics_marks, index=student_ids, name='Physics Marks')

# Create a new Pandas Series for the sum of scores
sum_scores_series = maths_series + physics_series
sum_scores_series.name = 'Round 1 Qualifiers'

# Create a DataFrame with the qualifying students
qualifiers_df = pd.DataFrame(sum_scores_series[sum_scores_series > 120])

# Display the DataFrame
print("DataFrame of Round 1 Qualifiers:")
print(qualifiers_df)

DataFrame of Round 1 Qualifiers:
           Round 1 Qualifiers
StudentID
1002                      180
1003                      126
1004                      149
1005                      126
1006                      127
1008                      127
1010                      125
1011                      126
1012                      177
1014                      142
1015                      167
1017                      144
1022                      140
1024                      148
1025                      143
1028                      129
1029                      128
1030                      165
1031                      132
1033                      150
1034                      152
1035                      157
1036                      127
1037                      150
1038                      122
1039                      175
1040                      134

###### task 6

In [29]:
# Create a new Pandas Series for the sum of scores
sum_scores_series = maths_series + physics_series
sum_scores_series.name = 'Round 1 Qualifiers'

# Conditions for Round 2 qualification
round2_qualifiers = physics_series[(maths_series >= 50) & (physics_series >= 50) & (sum_scores_series == 120)]
round2_qualifiers.name = 'Round 2 Qualifier'

# Create a DataFrame with the qualifying students for Round 2
round2_qualifiers_df = pd.DataFrame(round2_qualifiers)

# Display the DataFrame
print("DataFrame of Round 2 Qualifiers:")
print(round2_qualifiers_df)

DataFrame of Round 2 Qualifiers:
Empty DataFrame
Columns: [Round 2 Qualifier]
Index: []

##### task 7

In [30]:
round2_qualifiers_count = round2_qualifiers_df.shape[0]
print(f"Number of students qualifying for Round 2: {round2_qualifiers_count}")

Number of students qualifying for Round 2: 0