In [ ]:
###### task 1
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

In [ ]:
print(data)

In [ ]:
name=input("enter the name of the five students")
data.append(name)
print(data)

In [ ]:
# add five student in data
name=input("enter the name of the five students:")
data.append(name)
print(data)

In [ ]:
data[::-1]

In [ ]:
print(data[::-1])

In [ ]:
#task 3
reversed_data = []
for i in range(len(data) - 1, -1, -1):
    reversed_data.append(data[i])

print(reversed_data)

In [ ]:
# task 4 
final_list=set(data)
print("final_list:", final_list)

In [ ]:
# task 5:- sorted list by alphbatical order
sorted(final_list)

In [ ]:
# Finding the 2nd, 12th, and last possision student in final_list
second_student=data[1]  # Index 1 corresponds to the 2nd element
towelv_student=data[11]  # Index 11 corresponds to the 12th element
last_student=data[-1] # Negative index -1 corresponds to the last element

final=[second_student,towelv_student,last_student]
print(final)

In [ ]:
for i in range(556,678):
    if i%7==0:
       print(i,end=" ")

In [ ]:
n=input("enter the number:")
if i in range(1,31):
    i%n==0
    print(i)

In [2]:
for i in range(1,31):
    print(i,end=" ")
n=int(input("enter the number:"))
n%i==0
print(n)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 enter the number:3
3

In [8]:
firstlist=[1,21,3,4,5,6,7,18,4]
lastlist=[19,1,17,6,15,14,13,2,11]
third_list=[b + a for a, b in zip(firstlist, lastlist)]
print(third_list)

[20, 22, 20, 10, 20, 20, 20, 20, 15]