## TASK 1

In [2]:
# Accept the number from the user
n = int(input("Enter a number: "))

# Initialize variables for the loop
factorial = 1
i = 1

# Calculate the factorial using a while loop
while i <= n:
    factorial *= i
    i += 1

# Display the factorial
print(factorial)

Enter a number: 5
120

### TASK 2

In [5]:
# Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True
# Check if 50 is prime
number = 50
if is_prime(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

# Check if 51 is prime
number = 51
if is_prime(number):
    print(f"{number} is a prime number")
else:
    print(f"{number} is not a prime number")

50 is not a prime number
51 is not a prime number

#####  task 2

In [1]:
number = 12345
sum = 0

while number > 0:
    digit = number % 10  # Get the last digit
    sum += digit         # Add the digit to the sum
    number = number // 10  # Remove the last digit

print("The sum of the digits is:", sum)

The sum of the digits is: 15

###### task 4

In [2]:
a, b = 0, 1
count = 0

print("Fibonacci Series up to 7 values:")
while count < 7:
    print(a, end=", ")
    nth = a + b
    a = b
    b = nth
    count += 1

Fibonacci Series up to 7 values:
0, 1, 1, 2, 3, 5, 8,

##### task 5

In [3]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("ID of t1:", id(t1))
print("ID of t2:", id(t2))

t1 = t1 + t2

print("ID of t1 after concatenation:", id(t1))
print("ID of t2:", id(t2))

ID of t1: 2425879707264
ID of t2: 2425879682432
ID of t1 after concatenation: 2425834250656
ID of t2: 2425879682432

##### task 6

In [4]:
m = {10, 20, 30, 40, 50}  # m is a set
n = [33, 40, 55, 60, 70]  # n is a list

print("Initial set m:", m)

for item in n:
    m.add(item)
    print("Adding", item, "to set m:", m)

Initial set m: {50, 20, 40, 10, 30}
Adding 33 to set m: {33, 50, 20, 40, 10, 30}
Adding 40 to set m: {33, 50, 20, 40, 10, 30}
Adding 55 to set m: {33, 50, 20, 55, 40, 10, 30}
Adding 60 to set m: {33, 50, 20, 55, 40, 10, 60, 30}
Adding 70 to set m: {70, 10, 20, 30, 33, 40, 50, 55, 60}

###### task 7

In [5]:
data_set = {"python": 1, "data": 2, "excel": 3, "sql": 4}

keys = list(data_set.keys())
values = list(data_set.values())

count = 0

while count < len(data_set):
    if values[count] % 2 == 0:
        print(keys[count] + ":" + str(values[count]))
    count += 1

data:2
sql:4

###### task 8

In [6]:
d = {}
for i in range(1, 16):
    d.update({i: i*i})

print("Dictionary with keys as integers from 1 to 15 and their squares as values:")
print(d)

# Adding a new element {100: 10000} to the dictionary
d.update({100: 10000})

print("\nDictionary after adding {100: 10000}:")
print(d)

Dictionary with keys as integers from 1 to 15 and their squares as values:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Dictionary after adding {100: 10000}:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}