In [20]:
import numpy as np
import pandas as pd

In [21]:
student_data=pd.read_csv('DS1_C4_S4_Test_Scores_Data_Practice.csv ')

In [22]:
student_data

,school,school_setting,school_type,classroom,teaching_method,student_id,gender,tuitionfee_waiver,test1,test2
0,ANKYI,Urban,Non-public,6OL,Standard,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,74LOE,Male,Does not qualify,64.0,76.0
...,...,...,...,...,...,...,...,...,...,...
2128,ZOWMK,Urban,Public,ZBH,Standard,T8LSK,Female,Does not qualify,39.0,55.0
2129,ZOWMK,Urban,Public,ZBH,Standard,VNP26,Female,Qualifies for reduced/free,38.0,46.0
2130,ZOWMK,Urban,Public,ZBH,Standard,YDR1Z,Female,Qualifies for reduced/free,45.0,51.0
2131,ZOWMK,Urban,Public,ZBH,Standard,YUEIH,Male,Qualifies for reduced/free,46.0,53.0
2132,ZOWMK,Urban,Public,ZBH,Standard,ZVCQ8,Male,Qualifies for reduced/free,41.0,48.0

###### task 1

In [27]:
# Identify missing values
missing_values = student_data.isnull().sum()

# Display missing values
print("Missing Values:")
print(missing_values)

# Treat missing values
# Replace missing values in 'test1' with the mean of 'test1' score
student_data['test1'].fillna(student_data['test1'].mean(), inplace=True)

# Replace missing values in 'test2' with the median of 'test2' score
student_data['test2'].fillna(student_data['test2'].median(), inplace=True)

Missing Values:
school                0
school_setting        0
school_type           0
classroom             0
teaching_method       0
student_id            0
gender               10
tuitionfee_waiver     0
test1                 0
test2                 0
dtype: int64

In [28]:
missing_values = student_data.isnull().sum()

In [29]:
missing_values

school                0
school_setting        0
school_type           0
classroom             0
teaching_method       0
student_id            0
gender               10
tuitionfee_waiver     0
test1                 0
test2                 0
dtype: int64

###### task 2

In [32]:
# Identify duplicate rows
duplicate_rows = student_data[student_data.duplicated()]

# Display duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

# Remove duplicate rows
student_data = student_data.drop_duplicates()

# Display the DataFrame after removing duplicates
print("\nDataFrame after removing duplicates:")
print(student_data)

Duplicate Rows:
Empty DataFrame
Columns: [school, school_setting, school_type, classroom, teaching_method, student_id, gender, tuitionfee_waiver, test1, test2]
Index: []

DataFrame after removing duplicates:
     school school_setting school_type classroom teaching_method student_id  \
0     ANKYI          Urban  Non-public       6OL        Standard      2FHT3
1     ANKYI          Urban  Non-public       6OL        Standard      3JIVH
2     ANKYI          Urban  Non-public       6OL        Standard      3XOWE
3     ANKYI          Urban  Non-public       6OL        Standard      556O0
4     ANKYI          Urban  Non-public       6OL        Standard      74LOE
...     ...            ...         ...       ...             ...        ...
2128  ZOWMK          Urban      Public       ZBH        Standard      T8LSK
2129  ZOWMK          Urban      Public       ZBH        Standard      VNP26
2130  ZOWMK          Urban      Public       ZBH        Standard      YDR1Z
2131  ZOWMK          Urban      Public       ZBH        Standard      YUEIH
2132  ZOWMK          Urban      Public       ZBH        Standard      ZVCQ8

      gender            tuitionfee_waiver  test1  test2
0     Female             Does not qualify   62.0   72.0
1     Female             Does not qualify   66.0   79.0
2       Male             Does not qualify   64.0   76.0
3     Female             Does not qualify   61.0   77.0
4       Male             Does not qualify   64.0   76.0
...      ...                          ...    ...    ...
2128  Female             Does not qualify   39.0   55.0
2129  Female  Qualifies for reduced/free    38.0   46.0
2130  Female  Qualifies for reduced/free    45.0   51.0
2131    Male  Qualifies for reduced/free    46.0   53.0
2132    Male  Qualifies for reduced/free    41.0   48.0

[2133 rows x 10 columns]

###### task 3

In [35]:
# Replace values in 'tuitionfee_waiver' column
student_data['tuitionfee_waiver'].replace({'Does not qualify': 'No', 'Qualifies for reduced/free ': 'Yes'}, inplace=True)

# Display the updated column data
print("Updated 'tuitionfee_waiver' column:")
print(student_data['tuitionfee_waiver'])

# Verify if the values were replaced
verification_values = student_data['tuitionfee_waiver'].value_counts()
print("\nVerification of replacement:")
print(verification_values)

Updated 'tuitionfee_waiver' column:
0        No
1        No
2        No
3        No
4        No
       ...
2128     No
2129    Yes
2130    Yes
2131    Yes
2132    Yes
Name: tuitionfee_waiver, Length: 2133, dtype: object

Verification of replacement:
tuitionfee_waiver
No     1215
Yes     918
Name: count, dtype: int64

###### task 4

In [37]:
# Group by 'school' and calculate the average test1 score
average_test1_by_school = student_data.groupby('school')['test1'].mean()

# Display the average test1 score for each school
print("Average Test1 Score by School:")
print(average_test1_by_school)

# Find the school with the highest average test1 score
highest_average_school = average_test1_by_school.idxmax()
highest_average_score = average_test1_by_school.max()

# Display the school with the highest average test1 score
print("\nSchool with the Highest Average Test1 Score:")
print(f"School: {highest_average_school}, Average Test1 Score: {highest_average_score}")

Average Test1 Score by School:
school
ANKYI    61.341463
CCAAW    64.623853
CIMBB    65.067568
CUQAM    53.925234
DNQDD    54.327869
FBUMG    62.891304
GJJHK    53.194915
GOKXL    50.796875
GOOBU    38.354190
IDGFP    75.202128
KFZMY    41.865385
KZKKE    37.261261
LAYPA    62.035088
OJOBU    56.197531
QOQTS    52.543369
UAGPU    62.390805
UKPGS    78.453125
UUUQX    67.106690
VHDHF    52.666667
VKWQH    52.060000
VVTVA    36.122473
ZMNYA    68.130435
ZOWMK    41.572650
Name: test1, dtype: float64

School with the Highest Average Test1 Score:
School: UKPGS, Average Test1 Score: 78.453125

###### task 5

In [38]:
# Pivot table to display the highest test2 score for each school
highest_test2_by_school = student_data.pivot_table(index='school', values='test2', aggfunc='max')

# Display the pivot table
print("Highest Test2 Score by School:")
print(highest_test2_by_school)

# Identify the top five schools based on the highest average test1 score
top_five_schools = average_test1_by_school.nlargest(5).index

# Display the top five schools
print("\nTop Five Schools Based on Highest Average Test1 Score:")
print(top_five_schools)

Highest Test2 Score by School:
        test2
school
ANKYI    79.0
CCAAW    91.0
CIMBB    88.0
CUQAM    76.0
DNQDD    79.0
FBUMG    88.0
GJJHK    85.0
GOKXL    77.0
GOOBU    68.0
IDGFP   100.0
KFZMY    67.0
KZKKE    62.0
LAYPA    84.0
OJOBU    84.0
QOQTS    85.0
UAGPU    83.0
UKPGS    99.0
UUUQX    91.0
VHDHF    77.0
VKWQH    82.0
VVTVA    68.0
ZMNYA    95.0
ZOWMK    63.0

Top Five Schools Based on Highest Average Test1 Score:
Index(['UKPGS', 'IDGFP', 'ZMNYA', 'UUUQX', 'CIMBB'], dtype='object', name='school')

###### task 6

In [40]:
# Create a new column 'scholarship' with default value as 0
student_data['scholarship'] = 0

# Identify students from 'fbumg' with class '5LQ' and test2 score >= 80
eligible_students = student_data[(student_data['school'] == 'FBUMG') & (student_data['classroom'] == '5LQ') & (student_data['test2'] >= 80)]

# Update the 'scholarship' column for eligible students to $500
student_data.loc[eligible_students.index, 'scholarship'] = 500

# Display the information in tabular format
print("Information for Students with Scholarship:")
print(student_data[['student_id', 'school', 'classroom', 'test2', 'scholarship']])

Information for Students with Scholarship:
     student_id school classroom  test2  scholarship
0         2FHT3  ANKYI       6OL   72.0            0
1         3JIVH  ANKYI       6OL   79.0            0
2         3XOWE  ANKYI       6OL   76.0            0
3         556O0  ANKYI       6OL   77.0            0
4         74LOE  ANKYI       6OL   76.0            0
...         ...    ...       ...    ...          ...
2128      T8LSK  ZOWMK       ZBH   55.0            0
2129      VNP26  ZOWMK       ZBH   46.0            0
2130      YDR1Z  ZOWMK       ZBH   51.0            0
2131      YUEIH  ZOWMK       ZBH   53.0            0
2132      ZVCQ8  ZOWMK       ZBH   48.0            0

[2133 rows x 5 columns]

###### task 7

In [42]:
# Pivot table to display the count of each type of teaching method, segregated by school setting
teaching_method_counts = student_data.pivot_table(index='school_setting', columns='teaching_method', values='student_id', aggfunc='count', fill_value=0)

# Display the pivot table
print("Teaching Method Counts Segregated by School Setting:")
print(teaching_method_counts)

Teaching Method Counts Segregated by School Setting:
teaching_method  Experimental  Standard
school_setting
Rural                     201       309
Suburban                  284       433
Urban                     275       631

###### task 8

In [44]:
# Group by 'school_setting' and 'gender', and then calculate the count
gender_count_by_setting = student_data.groupby(['school_setting', 'gender']).size().unstack(fill_value=0)

# Display the gender-wise count of students in different school settings
print("Gender-wise Count of Students in Different School Settings:")
print(gender_count_by_setting)

Gender-wise Count of Students in Different School Settings:
gender          Female  Male
school_setting
Rural              228   279
Suburban           368   348
Urban              456   444

###### task 9

In [45]:
# Group by 'school_setting' and 'gender', and then calculate the average test2 score
average_test2_by_gender_and_setting = student_data.groupby(['school_setting', 'gender'])['test2'].mean().unstack()

# Display the average test2 score of male and female students in each school setting
print("Average Test2 Score by Gender and School Setting:")
print(average_test2_by_gender_and_setting)

Average Test2 Score by Gender and School Setting:
gender             Female       Male
school_setting
Rural           63.991228  64.032258
Suburban        76.027174  75.942529
Urban           61.179825  62.421171