In [5]:
import pandas as pd
car_data= pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')

In [6]:
car_data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

###### task 1

In [7]:
# Check for missing values
print("Missing Values:")
print(car_data.isnull().sum())

# Drop rows with missing values
df_cleaned = car_data.dropna()

# Display the cleaned-up DataFrame
print("\nCleaned-up DataFrame:")
print(df_cleaned)

Missing Values:
year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

Cleaned-up DataFrame:
        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558831  2011     BMW             5 Series         528i      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission state  condition  odometer  color interior  \
0         automatic    ca        5.0   16639.0  white    black
1         automatic    ca        5.0    9393.0  white    beige
2         automatic    ca        4.5    1331.0   gray    black
3         automatic    ca        4.1   14282.0  white    black
4         automatic    ca        4.3    2641.0   gray    black
...             ...   ...        ...       ...    ...      ...
558831    automatic    fl        3.9   66403.0  white    brown
558833    automatic    wa        5.0   54393.0  white    black
558834    automatic    ca        4.8   50561.0  black    black
558835    automatic    ga        3.8   16658.0  white    black
558836    automatic    ca        3.4   15008.0   gray     gray

                                                   seller     mp  \
0                                 kia motors america, inc  20500
1                                 kia motors america, inc  20800
2                  financial services remarketing (lease)  31900
3                                 volvo na rep/world omni  27500
4                  financial services remarketing (lease)  66000
...                                                   ...    ...
558831           lauderdale imports ltd bmw pembrok pines  20300
558833                                    i -5 uhlmann rv  30200
558834             financial services remarketing (lease)  29800
558835  enterprise vehicle exchange / tra / rental / t...  15100
558836                   ford motor credit company,llc pd  29600

                                   Arrival_Date
0       Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1       Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2       Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3       Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4       Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...                                         ...
558831  Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[472336 rows x 14 columns]

##### task 2

In [9]:
# Filter the DataFrame for cars from the year 2014 with California as the state
potential_cars = car_data[(car_data['year'] == 2014) & (car_data['state'] == 'ca')]

# Sort the DataFrame by price in ascending order
potential_cars_sorted = potential_cars.sort_values(by='mp')

# Select the top 100 rows
top_100_cars = potential_cars_sorted.head(100)

# Display the details of potential cars
print("Details of Potential Cars:")
print(top_100_cars)

Details of Potential Cars:
        year        make       model                  trim       body  \
179673  2014      Nissan       Versa                1.6 SV      Sedan
494101  2014  Mitsubishi      Mirage                    DE  hatchback
477609  2014      Nissan       Versa                1.6 SV      sedan
444039  2014      Nissan       Versa                1.6 SV      Sedan
543536  2014       smart      fortwo         passion coupe  hatchback
...      ...         ...         ...                   ...        ...
457262  2014      Nissan       Versa                1.6 SV      Sedan
379472  2014        Ford      Fiesta                    SE  Hatchback
60893   2014      Toyota       Yaris                    LE  Hatchback
442576  2014       smart      fortwo  electric drive coupe  Hatchback
543472  2014      Nissan  Versa Note                1.6 SV  hatchback

       transmission state  condition  odometer   color interior  \
179673    automatic    ca        2.4   78882.0   white    black
494101    automatic    ca        4.3   24002.0  silver    black
477609    automatic    ca        4.1   43948.0   black    black
444039       manual    ca        3.0   44854.0   black    black
543536    automatic    ca        4.8    3575.0       —    black
...             ...   ...        ...       ...     ...      ...
457262    automatic    ca        3.9    8857.0    gray    black
379472    automatic    ca        4.3   45661.0     red    black
60893     automatic    ca        2.0   32691.0     red    black
442576    automatic    ca        4.8    4171.0   white     gray
543472    automatic    ca        4.2   16241.0       —    black

                                                   seller    mp  \
179673                nissan motor acceptance corporation  6175
494101                             black/white auto sales  7225
477609                        consumer portfolio services  7425
444039             bmw alphera/alphera financial services  7525
543536                   mercedes-benz financial services  7900
...                                                   ...   ...
457262                                 santander consumer  9675
379472                                   avis corporation  9675
60893   enterprise vehicle exchange / tra / rental / t...  9675
442576                   mercedes-benz financial services  9700
543472                nissan motor acceptance corporation  9700

                                   Arrival_Date
179673  Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101  Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609  Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039  Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536  Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...                                         ...
457262  Thu May 28 2015 05:00:00 GMT-0700 (PDT)
379472  Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
60893   Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
442576  Wed May 27 2015 05:30:00 GMT-0700 (PDT)
543472  Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

[100 rows x 14 columns]

###### task 3

In [10]:
# Pivot table to display the top 100 cars based on car manufacturers and prices
cross_table = top_100_cars.pivot_table(index='make', values='mp', aggfunc='min')

# Display the cross table
print("Cross Table of Top 100 Cars:")
print(cross_table)

Cross Table of Top 100 Cars:
              mp
make
Chevrolet   8400
FIAT        9150
Ford        8475
Hyundai     9650
Mazda       9475
Mitsubishi  7225
Nissan      6175
Toyota      9600
Volkswagen  9175
smart       7900

###### task 4

In [11]:
# Filter the top 100 cars DataFrame for Chevrolet cars
chevrolet_cars = top_100_cars[top_100_cars['make'] == 'Chevrolet']

# Calculate the discounted price with a 10% discount
chevrolet_cars['discounted_price'] = chevrolet_cars['mp'] * 0.9

# Display the updated data for Chevrolet cars with original and discounted prices
print("Updated Data for Chevrolet Cars:")
print(chevrolet_cars[['make', 'model', 'year', 'mp', 'discounted_price']])

Updated Data for Chevrolet Cars:
             make  model  year    mp  discounted_price
518957  Chevrolet  Spark  2014  8400            7560.0
473427  Chevrolet  Spark  2014  8500            7650.0
80892   Chevrolet  Spark  2014  8700            7830.0
2191    Chevrolet  Spark  2014  8950            8055.0
44314   Chevrolet  Spark  2014  9050            8145.0
531030  Chevrolet  Sonic  2014  9150            8235.0
258946  Chevrolet  Sonic  2014  9250            8325.0
471595  Chevrolet  Spark  2014  9325            8392.5
125534  Chevrolet  Sonic  2014  9450            8505.0
44341   Chevrolet  Spark  2014  9500            8550.0
456227  Chevrolet  Sonic  2014  9500            8550.0
456215  Chevrolet  Sonic  2014  9550            8595.0
229362  Chevrolet  Spark  2014  9550            8595.0
391429  Chevrolet  Spark  2014  9625            8662.5
105924  Chevrolet  Sonic  2014  9625            8662.5
125525  Chevrolet  Spark  2014  9650            8685.0

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5024\171068587.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chevrolet_cars['discounted_price'] = chevrolet_cars['mp'] * 0.9

###### task 5

In [12]:
# Filter the DataFrame for cars from the year 2014
cars_2014 = car_data[car_data['year'] == 2014]

# Sort the DataFrame by price in ascending order
lowest_price_cars_2014 = cars_2014.sort_values(by='mp').head(100)

# Calculate the average price based on interior color
average_price_by_color = lowest_price_cars_2014.groupby('interior')['mp'].mean()

# Display the average price based on interior color
print("Average Price of 100 Lowest-Priced Cars from 2014 by Interior Color:")
print(average_price_by_color)

Average Price of 100 Lowest-Priced Cars from 2014 by Interior Color:
interior
black    7701.102941
gray     8011.607143
—        8093.750000
Name: mp, dtype: float64

In [13]:
# Filter the DataFrame for cars from the year 2010 to 2015
cars_2010_2015 = car_data[(car_data['year'] >= 2010) & (car_data['year'] <= 2015)]

# Create a pivot table to show color-wise availability for each manufacturer
color_availability = cars_2010_2015.pivot_table(index='make', columns='color', values='mp', aggfunc='count', fill_value=0)

# Display the color-wise availability for each manufacturer
print("Color-wise Availability of Cars for Each Manufacturer (2010-2015):")
print(color_availability)

Color-wise Availability of Cars for Each Manufacturer (2010-2015):
color         beige  black  blue  brown  burgundy  charcoal  gold  gray  \
make
Acura             1   1031    99     12        94         5     0   643
Aston Martin      0      0     0      0         0         1     0     0
Audi              7   1042   208     32         1         3     5   459
BMW             101   3940   924    191         8         2    28  2430
Bentley           0     12     7      1         0         0     0     4
...             ...    ...   ...    ...       ...       ...   ...   ...
smart             0     65    31      1         0         0     0    21
suzuki            1      0     1      0         0         0     0     0
toyota            0      6     1      0         0         0     0     0
volkswagen        0      2     2      0         0         0     0     0
vw                0      2     1      1         0         0     0     2

color         green  lime  off-white  orange  pink  purple  red  silver  \
make
Acura             2     0         24       0     0       3   69     383
Aston Martin      0     0          0       0     0       0    0       0
Audi              3     0          0       0     0       0   60     325
BMW              36     0          3      15     0       2  357     557
Bentley           0     0          0       0     0       0    1       0
...             ...   ...        ...     ...   ...     ...  ...     ...
smart            11     0          0       0     0       0   43      52
suzuki            0     0          0       0     0       0    0       0
toyota            0     0          0       0     0       0    0       0
volkswagen        0     0          0       0     0       0    1       0
vw                0     0          0       0     0       0    0       1

color         turquoise  white  yellow    —
make
Acura                 0    526       0   28
Aston Martin          0      1       0    0
Audi                  0    810       0  257
BMW                   0   2750       0  427
Bentley               0      3       0    2
...                 ...    ...     ...  ...
smart                 0     73       5    8
suzuki                0      0       0    0
toyota                0      1       0    0
volkswagen            0      0       0    1
vw                    0      2       0   10

[67 rows x 20 columns]

###### task 7

In [15]:
# Filter the DataFrame for BMW sedans manufactured between 2010 and 2015 with condition score >= 4.5
bmw_sedans = car_data[(car_data['make'] == 'BMW') & (car_data['body'] == 'Sedan') & (car_data['year'] >= 2010) & (car_data['year'] <= 2015) & (car_data['condition'] >= 4.5)]

# Group by year and model, and find the maximum expected price
max_price_by_year_model = bmw_sedans.groupby(['year', 'model'])['mp'].max()

# Display the details of BMW sedans and the year-wise maximum expected price
print("Details of BMW Sedans with Condition >= 4.5 (2010-2015):")
print(bmw_sedans[['make', 'model', 'year', 'condition', 'mp']])

print("\nYear-wise Maximum Expected Price of BMW Sedans (2010-2015) Grouped by Model:")
print(max_price_by_year_model)

Details of BMW Sedans with Condition >= 4.5 (2010-2015):
       make                model  year  condition     mp
2       BMW             3 Series  2014        4.5  31900
37      BMW             3 Series  2014        5.0  32200
39      BMW             3 Series  2014        4.5  30200
59      BMW                   M5  2014        4.7  71000
106     BMW             5 Series  2014        4.8  46300
...     ...                  ...   ...        ...    ...
478194  BMW             3 Series  2015        4.8  30900
485076  BMW                  NaN  2015        4.9  72000
520693  BMW             3 Series  2015        4.7  29100
545426  BMW  4 Series Gran Coupe  2015        4.7  41500
545436  BMW  4 Series Gran Coupe  2015        4.8  46900

[1400 rows x 5 columns]

Year-wise Maximum Expected Price of BMW Sedans (2010-2015) Grouped by Model:
year  model
2010  3 Series                15300
      5 Series                23200
      7 Series                28200
2011  3 Series                38500
      5 Series                37000
      7 Series                26800
      M3                      40600
2012  3 Series                33300
      5 Series                44200
      7 Series                43000
      ActiveHybrid 7          32100
2013  3 Series                37900
      5 Series                42300
      6 Series Gran Coupe     56300
      7 Series                61000
      M5                      66000
2014  3 Series                44800
      5 Series                65000
      6 Series Gran Coupe     68000
      7 Series                56200
      ActiveHybrid 7          66000
      M5                      78000
      M6 Gran Coupe          105000
2015  3 Series                46900
      4 Series Gran Coupe     46900
      5 Series                51400
      7 Series                67000
Name: mp, dtype: int64

In [16]:
# Filter the DataFrame for SUVs from the year 2010 to 2015 with odometer <= 30,000
suv_cars = car_data[(df['body'] == 'SUV') & (car_data['year'] >= 2010) & (car_data['year'] <= 2015) & (car_data['odometer'] <= 30000)]

# Sort the DataFrame by price in descending order
top_suv_cars = suv_cars.sort_values(by='mp', ascending=False).head(100)

# Display the top 100 SUVs based on price and odometer reading
print("Top 100 SUVs Available (2010-2015) Based on Price and Odometer Reading:")
print(top_suv_cars[['make', 'model', 'year', 'mp', 'odometer']])

NameError: name 'df' is not defined