In [1]:
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]

###### task 1

In [35]:
import pandas as pd
# Row indices from 101 to 120
row_indices = range(101, 121)

# Create a Pandas Series for car prices
car_prices_series = pd.Series(price, index=row_indices, name='Car Price')

# Display the Pandas Series
print(car_prices_series)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
Name: Car Price, dtype: int64

###### task 2

In [36]:
# Find the row index with the highest price
max_price_index = car_prices_series.idxmax()

# Find the row index with the lowest price
min_price_index = car_prices_series.idxmin()

# Get the prices corresponding to the identified indices
max_price = car_prices_series[max_price_index]
min_price = car_prices_series[min_price_index]

# Display the results
print("highest price:", max_price)
print("lowest price:", min_price)

highest price: 93947
lowest price: 30660

###### task 3

In [37]:
# Get the top 5 cars with the highest prices
top5_highest_prices = car_prices_series.nlargest(5)

# Display the result
print("Top 5 cars with the highest prices:")
print(top5_highest_prices)

Top 5 cars with the highest prices:
114    93947
112    93822
120    83197
101    80121
107    78703
Name: Car Price, dtype: int64

###### task 4

In [38]:
# Filter cars with prices between 30 and 40
filtered_cars = car_prices_series[(car_prices_series >= 30000) & (car_prices_series <= 40000)]

# Display the prices and row indices of cars between 30 and 40
print("Car prices between $30,000 and $40,000:")
print(filtered_cars)

# Display the count of cars between 30 and 40
print("\nCount of cars between $30,000 and $40,000:", len(filtered_cars))

Car prices between $30,000 and $40,000:
103    37077
104    30660
111    39967
Name: Car Price, dtype: int64

Count of cars between $30,000 and $40,000: 3

###### task 5

In [39]:
# Calculate the average price of all cars
average_price = car_prices_series.mean()

# Filter cars with prices above the average
above_average_cars = car_prices_series[car_prices_series > average_price]

# Display the prices and row indices of cars above the average
print("Car prices above the average:")
print(above_average_cars)

# Display the count of cars above the average
print("\nCount of cars above the average:",len(above_average_cars))

Car prices above the average:
101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
Name: Car Price, dtype: int64

Count of cars above the average: 8

###### task 6

In [42]:
# Adding three new cars
new_cars_data = [34000, 45000, 54000]
new_cars_index = [201, 202, 203]
new_cars_series = pd.Series(new_cars_data, index=new_cars_index, name='Car Price')

# Update the existing data by concatenating the old and new Series
car_prices_series = pd.concat([car_prices_series, new_cars_series])

# Display the prices along with the row indexes for all cars
print(car_prices_series)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
Name: Car Price, dtype: int64

###### task 7

In [43]:
# Apply a discount of 20% on car prices above 60000
discounted_prices_series = car_prices_series.copy()
discounted_prices_series[discounted_prices_series > 60000] *= 0.8

# Display the row indexes along with the original and discounted prices
result_df = pd.DataFrame({
    'Original Price': car_prices_series,
    'Discounted Price': discounted_prices_series
})

print(result_df)

     Original Price  Discounted Price
101           80121           64096.8
102           48483           48483.0
103           37077           37077.0
104           30660           30660.0
105           68536           54828.8
106           52666           52666.0
107           78703           62962.4
108           51036           51036.0
109           55643           55643.0
110           56990           56990.0
111           39967           39967.0
112           93822           75057.6
113           51406           51406.0
114           93947           75157.6
115           78373           62698.4
116           62765           50212.0
117           47536           47536.0
118           40528           40528.0
119           58780           58780.0
120           83197           66557.6
201           34000           34000.0
202           45000           45000.0
203           54000           54000.0

###### task 8

In [44]:
# Display the count of cars before updating
print("Count of cars before updating:", len(car_prices_series))

# Apply a discount of 20% on car prices above 60000 and remove sold cars
updated_car_prices_series = car_prices_series[car_prices_series <= 60000]

# Display the updated data
print("\nUpdated Car Prices:")
print(updated_car_prices_series)

# Display the count of cars after updating
print("\nCount of cars after updating:", len(updated_car_prices_series))

Count of cars before updating: 23

Updated Car Prices:
102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
Name: Car Price, dtype: int64

Count of cars after updating: 15